
/** MAIN **/

html,
body {
    height: 100%;
}
body {
    height: max-content;
}
.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

main.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

div.wrapper {
    width: 100%;
}

footer {
    flex: 0 0 auto;
}
/** GOODS STYLES **/
.good-modal {
    margin: 20px;
    padding: 20px;
    background: #000000;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.good-modal__header, .good-modal__body, .good-modal__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.good-modal__body > form {
    width: 100%;
}


.good-modal__header {
}

.good-modal__header img {
    width: 100px;
}

.good-modal__header h1 {
    margin: 0;
    text-align: center;
}

.good-modal__logo {
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: -140px;
    scale: 0.7;
}

.good-modal__logo.full {
    z-index: 1;
}

.good-modal .inputs-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.inputs-group label {
    font-weight: bold;
    margin-left: 10px;
}

.inputs-group .error {
    margin-left: 10px;
    font-size: 0.7em;
    color: #ff0000;
}

.inputs-group input {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    text-align: left;
    padding: 15px;
    font-weight: bold;
    background: #666666;
}

.inputs-group .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 270px;
}

.inputs-group .cards [data-paymentmethod] {
    list-style: none;
    flex: 0 0 33%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.inputs-group .cards img {
    list-style: none;
    flex: 0 0 33%;
}

.inputs-group input::placeholder, .inputs-group input {
    color: #cccccc;
}

.inputs-group input:focus, .inputs-group input:focus-visible {
    border: none;
    outline: none;
}

.good-modal .buttons-group {
    width: 100%;
}

.buttons-group .info {
    text-align: center;
    margin-bottom: 10px;
    color: #999999;
}

.buttons-group button {
    border-radius: 20px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    background: #33cc99;
    color: #ffffff;
    font-weight: bold;
}

#payment-for-ua::after {
    display: inline-block;
    width: 25px;
    height: 15px;
    margin-left: 5px;
    content: "";
    background-image: url("//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/flags/1x1/ua.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.good-type-name {
    position: absolute;
    left: 5%;
    bottom: 50%;
    color: #ffffff;
    font-weight: bold;
    font-size: 2em;
    margin-top: -20px;
}

.good-modal.good-type .goods {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: space-around;
}

.good-modal.good-type .goods > div.good-wrapper {
    flex-wrap: wrap;
    flex: 0 0 15%;
    align-self: center;

    background: #333333;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    z-index: 3;
    width: 10%;
}

.good-modal.good-type .goods > div.good-wrapper.privilege {
    flex: 0 0 20%;
}

div.good-wrapper img {
    scale: 0.7;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.good-modal.good-type .goods > div > span {
    text-align: center;
}

.good-wrapper .good-name.colored {
    margin-bottom: 10px;
    font-weight: 900;
}
    /** HOME STYLES **/

main.wrapper > .goods {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.goods .good-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.good-container .good-name {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #fafafa;
}

.good-container .good-logo {

}

.good-container .good-logo img {
    width: 150px;
}

/** circle element **/
.circle-list {
    position: relative;
    width: 500px;
    height: 500px;
}

.circle-list .circle-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** MODAL STYLES **/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-out;

    overflow-y: scroll;
}

.modal.show {
    visibility: visible;
    z-index: 10;
    opacity: 1;
}

.modal-header {
    display: flex;
    align-items: revert;
    flex-direction: row-reverse;
}

.modal .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: #000;
    opacity: 0.7;
}

.modal-wrapper {
    position: relative;
    z-index: 10;
    border: 50px;
    margin: auto;
}

/** MEDIA SECTION **/
@media all and (max-width: 1024px) {
    .circle-list {
        width: unset;
        height: unset;
    }
    .circle-list .circle-item {
        position: static;
        transform: unset !important;
        margin: unset;
    }
    body {
        position: absolute;
    }

    .good-modal__logo {
        scale: 0.5;
    }
}

@media (max-width: 768px) {
    .good-modal.good-type .goods > div.good-wrapper {
        flex: 0 0 100%;
    }

    .good-modal.good-type .goods > div.good-wrapper.privilege {
        flex: 0 0 100%;
    }

    body {
        position: absolute;
    }

    .good-modal__logo {
        scale: 0.5;
    }

    .good-type-name {
        bottom: 30%;
    }
}

body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    font-family: Infra-black;
    height: 100vh;

}

/* CONGRATULATION PAGE */
.congratulations {
    width: 50%;
    min-height: inherit;
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    text-align: center;
    color: #fafafa;
}

.congratulations .congratulation__box {

}

.congratulation__box h1 {
    font-size: 5em;
}

.congratulation__box .message_box {
    font-size: 2em;
}

.congratulation__box .link_box {

}

@font-face {
    font-family: Infra-black;
    src: url('/fonts/Infra-Black.ttf');
}

a {
   color: #fff;
   text-decoration: none;
}

header {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   color:#fff;
}
.header__section {
   display:flex;
   align-items: center;
}

.header__item {
   padding: 10px 15px;
   font-size: 20px;
   margin-left: 5px;
}
.headerlogo {
   font-weight: bold;
   font-size: 35px;
}
